absl-py==2.3.1
astunparse==1.6.3
blinker==1.9.0
cachetools==6.2.2
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
decimer==2.7.1
efficientnet==1.1.1
Flask==3.1.2
flatbuffers==25.9.23
gast==0.6.0
google-auth==2.41.1
google-auth-oauthlib==1.2.3
google-pasta==0.2.0
grpcio==1.76.0
h5py==3.15.1
idna==3.11
ImageIO==2.37.2
itsdangerous==2.2.0
Jinja2==3.1.6
keras==2.15.0
Keras-Applications==1.0.8
lazy_loader==0.4
libclang==18.1.1
Markdown==3.10
MarkupSafe==3.0.3
ml-dtypes==0.2.0
networkx==3.4.2
numpy==1.26.4
oauthlib==3.3.1
opencv-python==4.11.0.86
opt_einsum==3.4.0
packaging==25.0
pillow==12.0.0
pillow_heif==1.1.1
protobuf==4.25.8
pyasn1==0.6.1
pyasn1_modules==0.4.2
pystow==0.7.11
PyYAML==6.0.3
rdkit==2025.9.1
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
scikit-image==0.25.2
scipy==1.15.3
selfies==2.2.0
six==1.17.0
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.2.0
tifffile==2025.5.10
tqdm==4.67.1
typing_extensions==4.15.0
urllib3==2.5.0
Werkzeug==3.1.3
wrapt==1.14.2
